<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Digital Versions"} %>

<% if @product.has_variants? %>
  <% for variant in @product.variants_including_master do %>
    <%= render 'form', :variant => variant %>
  <% end %>
<% else %>
  <span><%= t('spree.digitals.product_no_variants') %></span>
  <% if @product.master.digital? %>
    <% if can?(:display, Spree::Digital) %>
      <span><%= t('spree.digitals.product_with_variants') %></span>
      <%= render @product.master.digitals %>
    <% end %>
  <% end %>
  <%= render 'form', :variant => @product.master %>
<% end %>
